@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    background-color: rgb(253, 253, 253);
}

.markets_header {
    color: black;
    text-align: center;
}

.markets_body {
    display: flex;
}

.markets_menu {
    width: 30%;
    margin: 4px;
}

.markets_graphs {
    width: 70%;
    margin: 4px;
}

.company_data_box {
    display: flex;
}

.company_data_element {
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 100px;
    margin: 10px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}
.movement_options {
    height: 50rem;
    width: 38rem;
    margin-top: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}